{
  background-color:black
}

h1 {
  font-size: 3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: 2rem;
  border: green;
}

h2 {
  font-size: 1.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
}

ul{
  list-style: disc: 
  margin: 1rem;
}

p{
  padding: 1rem;
}