body {
  background-color:black;
  color: white;
}

h1 {
  font-size: 3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  border: 5px double green;
}

h2 {
  font-size: 1.5rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
}

ul{
  list-style: disc: 
}

ol{
  margin-bottom: 2rem;
}

li{
  margin-left: 3rem;
}

p{
  padding: 1rem;
}

footer{
  background-image:url("../img/Lightning.png");
  background-repeat:repeat-x;
  background-size: 3rem;
  text-align: center;
}